
	<body>
		<header>
			
			<address style="float: right;">
                <p><b>Facture</b></p>
				<p><b>Ref : FA2222222</b></p>
				<p>Date Facturation : 999999</p>
				<p>Date échéance : 9999999</p>
                <p>Code client : C333333</p>
                <p>réf.commande : BL3333333</p>
			</address>
            <address style="float: left; width: 20%;">
               <img src="assets/img/facture.jpg">
			</address>
		</header>
		<article style="font-size: 10px;">
			<div style="background-color: rgb(223, 223, 223);line-height : 0.25;">
			<address >
				<p style="font-weight: bold;">ITIc commercial</p>
                <p style="font-weight: normal;"> N jsjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</p>
                <p style="font-weight: normal;">ouled teima</p>
                <p style="font-weight: normal;">6999999999</p>
                <br>
                <p style="font-weight: normal;">ouled teima@gmail.com</p>
                <p style="font-weight: normal;">0OOOOOOOO</p>
                <p style="font-weight: normal;">web:www.kkkkkkkkk.com</p>
			</address>
        </div>
			<table class="" style="width: 70%; height: 100px ; float: right;">
                <p style="float: right;">Adressé :</p>
					
					<td  ><span  style="font-size: 15px; font-weight: bold;">Bouchta</span><br>
                        <span  style="font-size: 15px;">farah</span><br>
                        <span  style="font-size: 15px;">farah</span>
                    </td>
				
				
			</table>
			<table class="inventory">
				<thead>
					<tr >
						<th><span >Reference</span></th>
						<th><span >TVA</span></th>
						<th><span >P.U.HT</span></th>
						<th><span >Quantity</span></th>
						<th><span >TOTAL HT</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span >lllllllllllllllll</span></td>
						<td><span >ppppppppppppppp</span></td>
						<td>OOOOOOOO</td>
						<td>IIIIIIIIIII</td>
						<td>UUUUUUUUUUUU</td>
					</tr>
				</tbody>
			</table>
			<address>
                <p>condition de réglement : A reception</p>
            </address>
			<table class="balance">
				<tr>
					<th><span >Total HT</span></th>
					<td>3900000</td>
				</tr>
				<tr>
					<th><span >TOTAL TVA </span></th>
					<td>77777777</td>
				</tr>
				<tr>
					<th><span >Payée</span></th>
					<td>470000.00</td>
				</tr>
                <tr>
					<th><span >Reste payée</span></th>
					<td>0.00</td>
				</tr>
			</table>
            <br>
            <br>
            <br><br>
            <br>
            <br><br>
           
         <div class="row" style="width: 30%; float: right;">
            <p style="font-weight: bold;">Vertesement déja effictués</p>
            <hr>
            <div class="col-sm-3">
                   Reglement
            </div>
            <div class="col-sm-3">
                Monant
         </div>
         <div class="col-sm-3">
            Type
          </div>
          <div class="col-sm-3">
            Num
          </div>
            <hr>
         </div>
         <br><br><br>
         <div class="row" style="width: 30%; float: right;">
          
            <div class="col-sm-3">
                   21/99999
            </div>
            <div class="col-sm-3">
                7777777777
         </div>
         <div class="col-sm-3">
            cjjjjjjj
          </div>
          <div class="col-sm-3">
            9
          </div>
            <hr>
         </div>
  
		</article>
		<div style="text-align: center;
  background-color: rgb(226, 174, 174);
  ">
			<span >I.F.:66666666666666666</span>
            <hr>
			<div >
				<p >capital:kkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
			</div>
		</div>
	</body>
