<br><br><br><br><br><br>
<div class=" grid-margin">
    <div class="card">
      <div class="card-body">
        <form class="form-sample">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom de Fournisseur</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  (change)="valeurNom_fournisseur($event)" >
                </div>
              </div>
          
            </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">ICE de Fournisseur</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" (change)="valeurice($event)">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">image</label>
                  <div class="col-sm-9">
                    <input type="file" class="form-control" (change)="valeur_image($event)">
                  </div>
                </div>
              </div></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Email</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" (change)="valeur_email($event)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">password</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" (change)="valeur_pass($event)">
                      </div>
                    </div>
                  </div>
            </div>
       
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">telephone 1 de Fournisseur</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  (change)="valeurtele1($event)">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">telephone 2 de Fournisseur</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  (change)="valeurtele2($event)">
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Fix</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"  (change)="valeurFix($event)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">CNSS</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"  (change)="valeurCNSS($event)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">TP</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"  (change)="valeurTP($event)">
                  </div>
                </div>
              </div>
           
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">TF</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"  (change)="valeurTF($event)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Capitale</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"  (change)="valeurcapitale($event)">
                  </div>
                </div>
              </div>
             
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">site web</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"  (change)="valeursite_web($event)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Adresse</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"  (change)="valeurAdresse($event)">
                  </div>
                </div>
              </div>
          </div>
          <button class="btn btn-danger btn-rounded btn-fw" (click)="update()"> modifier</button>
          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address de client</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">telephone de client</label>
                <div class="col-sm-9">
                  <input class="form-control" placeholder="dd/mm/yyyy">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option>Category1</option>
                    <option>Category2</option>
                    <option>Category3</option>
                    <option>Category4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Membership</label>
                <div class="col-sm-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked=""> Free <i class="input-helper"></i></label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> Professional <i class="input-helper"></i></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description"> Address </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address 1</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">State</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address 2</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Postcode</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">City</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Country</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option>America</option>
                    <option>Italy</option>
                    <option>Russia</option>
                    <option>Britain</option>
                  </select>
                </div>
              </div>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>