<footer>
  
    <div class="container text-center text-md-start">
      <div class="footer-wrap">
        <div class="about">
          <img src="assets/img/itic_sol.png" alt="">
          <p class="text-muted py-4">
            La société produira des logiciels et des applications et donnera des formations professionnelles a leur clients pour améliorer son activité.    </p>
          <div class="social-media">
            <a href="" class="me-2 text-reset"><img src="assets/img/icon/instagram-icon.svg" alt=""></a>
            <a href="" class="me-2 text-reset"><img src="assets/img/icon/facebook-icon.svg" alt=""></a>
            <a href="" class="me-2 text-reset"><img src="assets/img/icon/twitter-icon.svg" alt=""></a>
            <a href="" class="me-2 text-reset"><img src="assets/img/icon/linkedin-icon.svg" alt=""></a>
          </div>
        </div>
        <div class="company">
          <p class="fw-bold">Company</p>
          <p><a href="">Contact Us</a></p>
          <p><a href="">Services</a></p>
          <p><a href="">Home</a></p>
          <p><a href="">Slide Anything Popup</a></p>
          <p><a href="">Projects</a></p>
          <p><a href="">Preview</a></p>
        </div> 
        <!-- <div class="useful-links">
          <p class="fw-bold">Useful links</p>
          <p><a href="">Terms of </a></p>
          <p><a href="">Services</a></p>
          <p><a href="">Privacy Policy</a></p>
          <p><a href="">Documentation</a></p>
          <p><a href="">Changelog</a></p>
          <p><a href="">Components</a></p>
        </div> -->
        <div class="newsletter">
          <i class="fas fa-map-marker-alt"></i>
          <!-- <b><p class="fw-bold">quelques informations sur iTic solution ?</p></b> -->
      
          <p class="fw-bold">Adresse:</p>
          <i class="flaticon-pin"></i>
          N°3, Immeuble Karoum, Cité Azmani, Ouled Teima, Maroc
          <i class="flaticon-email-1"></i>
            <p class="fw-bold">E-mail:</p>  
            Contact@itic-solution.com
            <p class="fw-bold">Téléphone:</p>  +212808575886<br>
            +212622853711 <br> +212631472947
           
        </div> 
      </div>
     
    </div>
</footer>
