
<!-- <main> -->
    <!-- <div style="background-image: url('assets/img/facture5.jpg');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: blue;
    ">
       
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-xl-4 ms-auto mt-5">
            <h1><b style="color: red;">imprimer :</b><br></h1>
          
         
          </div>
          <div class="col-12 d-md-flex justify-content-between mb-5">
            <div class="light-box first"  style="background-color:rgb(233, 230, 230)">
                <h4>fact<b>ure</b></h4>
                <p>Lorem Ipsum is simply dummy text of the printing </p>
              </div>
            <div  class="light-box second" style="background-color:rgb(233, 230, 230)">
                <h4>Dev<b>is</b></h4>
                <p>Lorem Ipsum is simply dummy text of the printing </p>
               </div>
            <div  class="light-box third" style="background-color:rgb(233, 230, 230)">
                <h4>Bon de commande</h4>
                <p>Lorem Ipsum is simply dummy text of the printing </p>
                </div>
            <div  class="light-box third" style="background-color:rgb(233, 230, 230)">
              <h4>Bon de Livraison</h4>
              <p>Lorem Ipsum is simply dummy text of the printing </p>
            </div>
          <div  class="light-box third" style="background-color:rgb(233, 230, 230)">
            <h4>Avoir</h4>
            <p>Lorem Ipsum is simply dummy text of the printing </p>
              </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- //////////////////////////////// -->
    <div class="container" >
      
     

      <div class="see-our-projects">
        <h1>Choisissez  <span class="yellow-stroke"> </span> </h1>
        <div class="projects-wrapper" *ngIf="idUser==null">
          <div class="project" routerLink="/infofacture" style="background-color: rgb(255, 255, 255); width: 550px; height: 400px;" (click)="fun1()">
            <img src="assets/img/FAC.png" height="300px" >
          </div>
          <div class="project" routerLink="/infofacture" style="background-color: rgb(255, 255, 255);width: 550px; height: 400px;" (click)="fun2()">
            <img src="assets/img/Fact2.png" height="300px" > 
          </div>
        </div>
        <div class="projects-wrapper" *ngIf="idUser!=null">
          <div class="project" routerLink="/welcome/add/facture" style="background-color: rgb(255, 255, 255); width: 550px; height: 400px;" (click)="fun1()">
            <img src="assets/img/FAC.png" height="300px" >
          </div>
          <div class="project" routerLink="/welcome/add/facture" style="background-color: rgb(255, 255, 255);width: 550px; height: 400px;" (click)="fun2()">
            <img src="assets/img/Fact2.png" height="300px" > 
          </div>
          
         <!-- ::::::::::::::::::::::::::::: -->
        <!-- </div></div> -->
        <!--  -->
       
     
    

    <!-- </div>
  </main> -->
<!-- *************************************************************************** -->
<!-- <div class="main-panel" >
  <div class="content-wrapper" style="background-color: #40e2ff;">
    <div class="card" style="width: 50%;height: 50%;">
      <div class="card-body" >
        <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel owl-loaded owl-drag" id="owl-carousel-basic" >
          
          
          
        <div class="owl-stage-outer"><div class="owl-stage" style="width: 100%;" routerLink="/infofacture" >
          <div class="owl-item cloned" style="width: 359.656px; margin-right: 10px;"><div class="item">
            <img src="assets/img/FAC.png" alt="">
          </div>
        </div>
        <div class="owl-item cloned" style="width: 359.656px; margin-right: 10px;" routerLink="/infofacture" ><div class="item">
            <img src="assets/img/FAC.png" alt="">
          </div>
        </div>
        <div class="owl-item active" style="width: 359.656px; margin-right: 10px;" routerLink="/infofacture" ><div class="item">
            <img src="assets/img/FAC.png" alt="">
          </div></div><div class="owl-item" style="width: 359.656px; margin-right: 10px;"><div class="item">
            <img src="assets/img/FAC.png" alt="">
          </div></div><div class="owl-item" style="width: 359.656px; margin-right: 10px;"><div class="item">
            <img src="assets/img/FAC.png" alt="">
          </div></div><div class="owl-item cloned" style="width: 359.656px; margin-right: 10px;"><div class="item">
            <img src="assets/img/FAC.png" alt="">
          </div></div><div class="owl-item cloned" style="width: 359.656px; margin-right: 10px;"><div class="item">
            <img src="assets/img/FAC.png" alt="">
          </div>
        </div>
      </div>
    </div>
  
  </div>
        
       
      </div>
    </div>
  </div>

</div> -->