<!-- -->
<!-- <div class="container-scroller">
<app-header-user-auth></app-header-user-auth>
<div class="container-fluid page-body-wrapper" >
<app-sidebar-user-auth></app-sidebar-user-auth>
<br><br><br><br><br> 

    <router-outlet></router-outlet>

       </div>
</div> -->

<!-- <div></div> -->
<app-header-acceil></app-header-acceil> 

<br><br><br>
<div style="background-color: #40e2ff;">
    <body classname="snippet-body"  > 
    <router-outlet></router-outlet>
    </body>
</div>
<app-footer></app-footer>