
 
      
      
       
        <body classname="snippet-body">
        <div class="container-fluid px-1 py-5 mx-auto">
<div class="row d-flex justify-content-center">
<div class="col-xl-5 col-lg-6 col-md-7">
<div class="card b-0">

<fieldset class="show" >
<div class="form-card">
<h5 class="sub-heading mb-4">!!</h5>
<p class="message">Pour sauvgarder vos information.<b>Vous devez crées compte.</b></p><br>
<p class="message">In order for your information to be preserved.<b>you must open compte.</b></p>
<p class="message">لكي يتم حفظ معلومات الخاصة بك<b> يجب عليك تسجيل حساب</b></p>
<div class="check">
    <img class="fit-image check-img" src="https://i.imgur.com/QH6Zd6Y.gif">
</div>
<a  class="main-btn"  style="float: right;" (click)="ok()">OK</a>

<a  class="main-btn" routerLink="/" style="float: left; background-color: rgb(228, 69, 188);">Non</a>

</div>
</fieldset>
</div>
</div>
</div>
</div>
        

      
        </body>
