
<body classname="snippet-body" style="background-color: rgb(199, 231, 250);">
    <br><br><br><br><br><br>
    <div class="container-fluid px-1 py-5 mx-auto">


<div class="card b-0">

<form>
<fieldset class="show">
<div class="form-card">
<h5 class="sub-heading">Client</h5>

<div class="form-group">
<label class="form-control-label"> Nom du Categorie * :</label>
<input type="text" id="fname" name="nom_categories" placeholder=""  class="form-control" (change)="valeurcategories($event)">
</div>



</div>
</fieldset> 

<a  class="main-btn"  style="float: right;" (click)="ajouter()">ajouter</a>


   


</form>
</div>
</div>


</body>